section, header, footer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

}

body {
    background: repeat url($bg);
}

#root {
    height: 100vh;
}

.loader-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    img[alt='loader'] {
        width: 100%;
        max-width: 200px;
    }
}

.info-block {
    position: absolute;
    left: 1vw;
    top: 1vh;
    display: flex;
    align-items: center;
    .info-block__name {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        color: rgba(241, 34, 34, 1);
    }
    img[alt="logout"] {
        width: 35px;
        cursor: pointer;
    }
}