header {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-title {
    font-size: 30px;
    color: #483d8b;
    font-weight: 700;
     margin-top: 5px;
  }
}

section {
  width: 100%;
}

.logOut {
  transition: all .3s ease-in-out;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 5px;
  border: 1px solid;
  border-radius: 10%;
  width: 85px;
  height: 35px;
  background: #eff3f8;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: #b8d3f5;
  }
}

