@mixin days() {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #fff3f3;
}

* {
  outline: none;
}

.days, .main {
  @include days();
}

.custom-calendar {
  display: flex;
  flex-direction: column;
};

input[type='button'] {
  border: 1px solid;
  background-color: #e3e8f3;
  &.prev {
    border-radius: 5px 5px 0 0;
  }
  &.next {
    border-radius: 0 0 5px 5px;
  }
}

.day {
  border: 1px dotted;
  border-bottom: none;
  text-align: center;
  color: #ff0000;
  border-color: #000000;
  font-weight: bold;
}

.monthDay {
  border: 1px dotted;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out .3s;

  &:hover {
    font-weight: bold;
    background: wheat;
  }
}



