.controllers {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        outline: none;
        text-align: center;
        &::placeholder {
            color: red;
        }
    }

    .react-date-picker__wrapper {
        background-color: #FFF;

        .react-date-picker__inputGroup {
            display: flex;
            justify-content: center;

            input {
                color: red;
            }
        }
    }

    .sort-controllers {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .btn-sort {
            cursor: pointer;
            border: 2px solid #000;
            font-weight: 600;
            margin: 2px;
                &.past {
                    background: grey;
                    color: #680404;
                }

                &.current {
                    background: #c9d33e;
                    color: #680404;
                }

                &.future {
                    background: #add8e6;
                    color: #680404;
                }

                &.all {
                        background: green;
                        color: #680404;
                }

                &:hover {
                    color: #ff0000;
                }
            }
    }
}