.controllers {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        outline: none;
        text-align: center;
        &::placeholder {
            color: #ff0000;
        }
    }

    .controllers__btn {
        border: 1px solid #000000;
        border-radius: 4px;
        &:not(.react-date-picker){
            margin: 2px 0px;
            padding: 4px;
        }

        &[type='button']{
            transition: all .4s ease-in-out;
            font-weight: bold;
            align-self: center;
            width: 60%;
            cursor: pointer;

            &:not(:disabled){
                background-color: rgb(193, 193, 255);
            }

            &:not(:disabled):hover {
                background-color: rgb(155, 155, 245);
                color: #ff0000;
            }
        }
    }
    

    .react-date-picker__wrapper {
        background-color: #FFF;

        .react-date-picker__inputGroup {
            display: flex;
            justify-content: center;

            input {
                color: red;
            }
        }
    }

    .sort-controllers {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .btn-sort {
            cursor: pointer;
            border: 2px solid #000;
            font-weight: 600;
            margin: 2px;
                &.past {
                    background: grey;
                    color: #680404;
                }

                &.current {
                    background: #c9d33e;
                    color: #680404;
                }

                &.future {
                    background: #add8e6;
                    color: #680404;
                }

                &.all {
                        background: green;
                        color: #680404;
                }

                &:hover {
                    color: #ff0000;
                }
            }
    }
}