<div class="regUser">
  <input (click)="onVisibleChange()" class="openRegistration" type="button" value="registration">
  <form *ngIf="visible">
    <input
      #emailRef="ngModel"
      pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,10}" required
      class="form-control"
      name="mail"
      [(ngModel)]="mail"
      type='email'
      placeholder="email"
    />
    <input
      #passwordRef="ngModel"
      pattern="\w{6,20}" required required
      class="form-control"
      name="password"
      [(ngModel)]="password"
      type='password'
      placeholder="password"
    />
    <input
      [disabled]="emailRef.invalid || passwordRef.invalid"
      (click)="onSubmitForm()"
      type='submit'
      value="submit"
    />
  </form>
</div>
