<form>
  <p>Login form</p>
  <input
    class="form-controll"
    #loginEmailRef="ngModel"
    name="mail"
    pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,10}" required
    type='text'
    placeholder="email"
    [(ngModel)]="mail"
  />

  <input
    class="form-controll"
    name="pass"
    pattern="\w{6,20}" required
    #password="ngModel"
    [(ngModel)]="pass"
    type='password'
    placeholder="password"
  />
  <input
    [disabled]="loginEmailRef.invalid || password.invalid"
    type="submit"
    value="Enter"
    (click)="onEnter()"
    />
</form>
<reg-user></reg-user>
