form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

p {
  font-weight: bold;
  color: #483d8b;
  font-size: 20px;
  margin-top: 0;
}

input {
  padding: 3px;
  outline: none;
}

input[type='submit']{
  padding: 5px;
}

input:not([type='submit']){
  border-radius: 5px;
  border: 1px solid;
}

input:not(:first-child){
  margin-top: 5px;
}
