section, header, footer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

}

body {
    background: repeat url($bg);
}

.loader-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    img[alt='loader'] {
        width: 100%;
        max-width: 200px;
    }
}

img[alt="logout"] {
    width: 47px;
    cursor: pointer;
    position: absolute;
    left: 1vw;
    top: 1vh;
}