@mixin days() {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #fff3f3;
}

* {
  outline: none;
}

.days, .main {
  @include days();
}

.year {
  background: #fff3f3;
  text-align: center;
  border-bottom: unset;
}

.custom-calendar {
  flex-direction: column;
  position: absolute;
  width: 100%;
  margin-top: 5px;
  &.hide {
    display: none;
  }
  &.visible {
    display: flex;
  }
};

input[type='button'], button {
  border: 1px solid #000;
  background-color: #eceef3;
  cursor: pointer;
  &.prev {
    border-radius: 5px 5px 0 0;

  }
  &.next {
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    color: #583737;
  }
}

.day {
  border-bottom: 1px solid;
  border-top: 1px solid;
  &:nth-of-type(7n){
    border-right: none;
  }
  &:first-child {
    border-left: none;
  }
  text-align: center;
  color: #ff0000;
  border-color: #000000;
  font-weight: bold;
}

.monthDay {

  text-align: center;
  transition: all ease-in-out .3s;


  &:hover:not(.disabled), &.select {
    cursor: pointer;
    font-weight: bold;
    background: wheat;
  }

  &.disabled {
    cursor: not-allowed;
    background: #dcdcdc;
  }
}



