.todoListBox {
  width: 90%;
  background-color: #f5f5f5;
  box-shadow: 0 0 3px #010101;
  overflow-y: auto;
  max-width: 66%;
  min-width: 66%;
  max-height: 97%;
  min-height: 97%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;

  .todo-item {
    cursor: pointer;
    padding: 5px;
    background-color: #bbc2c7;
    transition: background-color 0.5s ease-in-out;
     span {
        word-wrap: break-word;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        margin: 0;
        display: flex;
        justify-content: center;
     }

    &.future {
        background-color: #add8e6;
    }
    &.past {
        background-color: #808080;
    }
    &.current {
        background-color: #c9d33e;
    }

    &:not(:first-child){
        margin: 5px 0;
    }
    &:first-child {
        margin-bottom: 5px;
    }

        &:hover {
            background-color: #bcd5e5;
            &.future {
                background-color: #4cbde2;
            }
            &.past {
                background-color: #bebebe;
            }
            &.current {
                background-color: #2bb32b;
            }
        }

  }

}

.wrapperBox {
  width: 100%;
  display: flex;
  height: calc(100vh - 220px);
  justify-content: center;
}

