

@media screen and (max-width: 700px) {
    #todo .todoList {
        width: 95%;
        height: 90%;
    }

    .editWrapper {
        width: 70%;
    }

    .textArea .addNotes {
        width: 85%;
    }

    #todo {
        height: 100%;
        // max-width: 700px;
        // min-height: 700px;
        // max-height: 100%;
    }

    #todo .title {
        margin: 0;
    }

    #todo .controllers {
        margin-bottom: 10%;

    }

    .background-modal .modal-window {
        height: 80%;
    }

    #todo .controllers .date {
        top: 42%;
    }

    #todo .controllers .setTodo {
        top: 85%;
    }

    #todo .background-modal .modal-window {
        width: 85%;
    }

    #todo, #todo .section, #todo .wrapper, .background-modal {
        height: 97%;

    }

}