

@media screen and (max-width: 700px) {

    #todo .todoList {
        width: 95%;
        height: 90%;
    }

    .textArea .addNotes {
        width: 85%;
    }

    #todo .controllers .setTodo {
        width: 100px;
        height: 55px;
        border-radius: 25px;
        border: 2px solid brown;
        text-align: center;
        margin: 5px 0;
    }

    #todo .warning {
        width: 55%;
        height: 25%;
    }

    #todo .selectCalendar {
        width: 140px;
        height: 40px;

    }

    #todo {
        height: 100%;

    }

    #todo .textArea .currentTodo {
        margin: 0;
        word-break: break-word;
        padding: 10px;
        font-size: 18px;
    }

    #todo .title {
        margin: 0;
    }

    #todo .background-modal .modal-window {
        width: 85%;
        height: 95%;
    }

    #todo, #todo .section, #todo .wrapper, .background-modal {
        height: 97%;

    }

    #todo .editWrapper {
        width: 90%;
        height: 125px;
        top: 55%;
    }

    #todo .edditable {
        width: 95%;
        height: 50%;
    }

    #todo .editButton {
        top: 91%;
        width: 90%;
    }


}