
@import 'value';

@mixin fullscreen {
    width: 100%;
    height: 100%;
}

%absCenter {

    position: $abs;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

%fix {
    margin: 0;
    padding: 0;
}

%marginCenter {
    text-align: center;
    margin: 0;
}

%max {
    width: 100%;
    height: 100%;
}

body {
    background: $appBG;
    font-family: $mainFont;
}

.smallSpinner{
    width: $spinnerW;
    height: $spinnerW;
}

%sortButtons {
    border: $sortButtonsBorder;
    font-weight: 600;
    margin: 2px;
}



#todo {

    .wrapper {
        display: flex;
        flex-direction: column;
        position: $abs;
        @extend %max;
        margin: 0 auto;
    }

    .title {
        font-weight: 900;
        font-size: $appTitleFontSize;
        color: $appTitleColor;
        text-align: center;
        margin-bottom: 0;
    }

    .calendar {
        background: white;
        border: 1px solid black;
        display: grid;
        display: none;
        grid-template-rows:  auto;
        width: 25%;
        position: relative;
        margin:0;
        z-index: 100;

        .calendarController{
        position: relative;
        }

        span {
            cursor: pointer;
            position: $abs;
            font-size: 20px;
        }
        span:hover {
        color: $importantColor;
        }

        span[data-move='next'] {
            transform: translateX(-100%);
            left: 100%;
        }

        li {
            transition: all 0.3s linear;
        }

        h3 {
            display: inline-block;
            vertical-align: sub;
            width: 100%;
            text-align: center;
            color: $importantColor;
            margin: 0;
        }

    .calendarList {
        border-top: 1px solid black;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-row: 2;
        @extend %fix;

        li[data-day] {
            text-align: center;
        }

        li[data-day]:hover {
            cursor: pointer;
            background: green;
        }

        li[data-week]{
            text-align: center;
            color: $importantColor;
        }

        .today {
            background: red;
            color: gold;
        }

    }
    }

    .controllers {
        position: $rel;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;

        .getTodo {
            position: $abs;
            width: $inputMainTodoW;
            height: $inputMainTodoH;
            border-radius: 10px;
            border: $inputMainTodoBorder;
            text-align: center;
        }

        .getTodo::placeholder {
            text-align: center;
            color: red;
        }

        .setTodo {
            position: $abs;
            width: $buttonMainTodoW;
            height: $buttonMainTodoH;
            border-radius: $buttonMainTodoRadius;
            border: $inputMainTodoBorder;
            text-align: center;
            top: 60%;
        }

        .setTodo::placeholder {
            text-align: center;
            color: $importantColor;
        }

        .setTodo:active {
            background: $buttonMainTodoActiveBgColor;
            color: $buttonMainTodoActiveColor;
        }

        .date {
            position: $abs;
            width: $mainDateInputW;
            height: $mainDateInputH;
            text-align: center;
            top: 30%;
            border-radius: 5px;
            border: $inputMainTodoBorder;
        }

    }

    .section {
        @extend %max;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .todoList {
        width: 70%;
        height: 90%;
        background: whitesmoke;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;
        border: $todoListBorder;
        box-shadow: 0 0 10px;

        .todoList__title {
            border-bottom: $todoListTittleBottomBorder;
            font-size: $todoListTittleSizeFont;
            text-align: center;
            font-weight: 600;
            color: $todoListTittleColor;
            margin-top: 0;
        }

        p {
            word-wrap: break-word;
            font-size: $todoListItemFontSize;
            background: $todoListItemColor;
            text-align: center;
            margin-top: 0;
        }


        .unactive {
            background: $unactiveColor;
        }
        
        .today {
            background: $todayColor;
        }

        p:hover {
            transition: 0.5s ease-in-out;
            cursor: pointer;
            background: $todoHoverColorBg;
            color: $todoHoverTxtColor;
        }



        .dateAdd {
            text-align: center;
        }
    }

    .sortWrapper {

        display: flex;
        justify-content: center;
        flex: 0 0 30px;
        margin-bottom: 5px;

        .sortBefore {
            @extend %sortButtons;
            background: $unactiveColor;
            color: $SortButtonsColor;
        }

        .sortCurrent {
            @extend %sortButtons;
            background: $todayColor;
            color :$SortButtonsColor;
        }

        .sortAfter {
            @extend %sortButtons;
            background: $todoListItemColor;
            color: $SortButtonsColor;
        }

        .sortAll {
            @extend %sortButtons;
            background: $todoAllColor;
            color: $SortButtonsColor;
        }

        .sort:active {
            color: $importantColor;
        }
    }

    .textArea {

        width: 100%;
        text-align: center;
        margin: 0 auto;

        .currentTodo{
            font-size: $todoTitles;
            margin-bottom: 0;
        }

        .addNotes__title{
        font-size: $addNoteTitle;
            color: grey;
        }

        .addNotes {
            transition: all .5s ease-in-out;
            border: $addNoteButtonBorder;
            margin-top: 0;
            padding: 10px;
            cursor: pointer;
            overflow-wrap: break-word;
        }

        .addNotes:hover {
            font-size: $addNoteHover;
            background: $addNoteHoverColorBg;
            color: $importantColor;
        }
    }

    .important {
        color: $importantColor;
    }

    .weatherList {
        width: 100%;
        position: $abs;
        bottom: 0;
        padding: 0;
        list-style-type: none;
        column-count: 2;
        border-top: $weatherBorder;
    }

    .weatherNone {

        width: 100%;
        position: $abs;
        bottom: 0;
        padding-bottom: 10px;
    }

    .center{
        display: block;
        @extend %absCenter;
    }

    ::-webkit-scrollbar {
        width: 15px;
        background: $scrollBarColor;
    }

    ::-webkit-scrollbar-thumb {
        background: $scrollBarThumbColor;
    }

    .background-modal {

        @extend %max;
        display: flex;
        justify-content: center;
        align-items: center;
        position: $abs;
        background: $hideColor;
        z-index: 1;

        .modal-window {
            transition: width 3s linear;
            position: $rel;
            width: 65%;
            height: 65%;
            background: $modalWindowColor;
            box-shadow: $modalWindowShadow;
            border: $modalWindowBorder;

            .close {
                font-family: $closeBtnFont;
                font-weight: bold;
                font-size: 18px;
                border-radius: 20px;
                border: $closeBtnBorder;
                color: $closeColor;
                background:  $closeBtnColor;
                cursor: pointer;

            }

            .delete {
                display: block;
                margin: 0 auto;
                font-size: 20px;
                border-radius: 5px;
                background: tomato;
                border: $deleteBtnBorder;
            }

            .modal-date {
                font-size: $modalDateFontSize;
                @extend %marginCenter;
            }

            .weather {
                font-size: $weatherFontSize;
                @extend %marginCenter;
            }
        }
    }

    .edditable {
        width: 75%;
        height: 70%;
        border: $edditableBorder;
        position: $abs;
        top: 53%;
        resize: none;
        left: 50%;
        margin-right: -50%;
        transform: $tranCenter;
    }

    .editButton {
        position: $abs;
        top: 100%;
        left: 50%;
        transform: $tranCenter;
        background: red;
        border: 1px solid brown;
    }

    .editWrapper {
        position: $abs;
        transform: $tranCenter;
        width: $editWrapperW;
        height: $editWrapperH;
        top: 50%;
        left: 50%;
    }

    .visibility {
        visibility: hidden;
        opacity: 0;
    }

    .ResetCount{
        column-count: 1;
    }

    .hide {

        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    .animateHide{
        animation: opacityHide  0.4s linear;
    }

    .animateOpen{
        animation: opacityOpen  0.4s linear;
    }

}



@keyframes opacityHide {

    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes opacityOpen {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@import 'media';

