
@mixin fullscreen($max,$min){
    max-width: $max;
    min-height: $min;
    margin: 0 auto;
}

%max {
    width: 100%;
    height: 100%;
}

body{
    background: grey;
    font-family: 'Lobster', cursive;
}

#todo {
    position: relative;
    @extend %max;
    @include fullscreen(1140px,800px);
    background:  url('../img/bg.jpg') repeat;

    .wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        @extend %max;
        margin: 0 auto;
    }

    .title{
        font-weight: 900;
        font-size: 45px;
        color: darkslateblue;
        text-align: center;
    }

    .controllers {
            position: relative;
            display: flex;
            justify-content: center;
            height: 120px;
        .getTodo{
            position: absolute;
            width: 250px;
            height: 25px;
            border-radius: 10px;
            border: 2px solid brown;
            text-align: center;
        }
        .getTodo::placeholder{
            text-align: center;
            color: red;
        }

        .setTodo{
            position: absolute;
            width: 100px;
            height: 35px;
            border-radius: 25px;
            border: 2px solid brown;
            text-align: center;
            top: 85%;
        }
        .setTodo::placeholder{
            text-align: center;
            color: red;
        }

        .setTodo:active {
            background: lightblue;
            color: brown;
        }
        .date {
            position: absolute;
            width: 200px;
            height: 26px;
            text-align: center;
            top: 43%;
            border-radius: 5px;
            border: 2px solid brown;
            }

    }

    .section {
        @extend %max;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .todoList{
        width: 70%;
        height: 90%;
        background:	whitesmoke;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px solid black;
        box-shadow: 0 0 10px;

        .todoList__title{
            border-bottom: 4px solid powderblue;
            font-size: 35px;
            text-align: center;
            font-weight: 600;
            color: brown;
            margin-top: 0;
        }

        p[data-num]{
            word-wrap: break-word;
            font-size: 23px;
            background: lightblue;
            text-align: center;
            margin-top: 0;
        }
        p[data-num]:hover {
            cursor: pointer;
            background: green;
            color: red;
        }

        .dateAdd {
            text-align: center;
        }
    }

}



::-webkit-scrollbar {
    width: 15px;
    background: rgb(65, 113, 129);
  }


  ::-webkit-scrollbar-thumb {
        background: rgb(15, 15, 75); 
  }


  @media screen and (max-width: 700px){
    #todo .todoList {
        width: 100%;
        height: 100%;
    }
    #todo {
        position: absolute;
        height: 100%;
        min-height: 0;
    }

    #todo .title {
        margin-bottom: 0;
    }

    #todo .controllers {
        margin-bottom: 10%;

  }
}

#todo .todoList p[data-num].unactive {
    background: grey;
}