
$abs: absolute;
$rel: relative;
$mainFont: 'Lobster', cursive;
$closeBtnFont: 'Times New Roman', Times, serif;
$appBG: url('../img/bg.jpg') repeat;

$tranCenter: translate(-50%,-50%);

$editWrapperW: 50%;
$editWrapperH: 200px;

$inputMainTodoW: 250px;
$inputMainTodoH: 25px;
$buttonMainTodoW: 100px;
$buttonMainTodoH: 35px;
$buttonMainTodoRadius: 25px;
$mainDateInputW: 200px;
$mainDateInputH:26px;

$todoListItemFontSize: 23px;
$appTitleFontSize: 45px;
$spinnerW: 80px;
$addNoteTitle: 14px;
$addNoteHover: 16.5px;
$todoTitles: 25px;
$todoListTittleSizeFont: 35px;
$modalDateFontSize: 25px;
$weatherFontSize: 18px;

$hideColor: rgba(0, 0, 0, .6);
$scrollBarColor: rgb(65, 113, 129);
$scrollBarThumbColor: rgb(15, 15, 75);
$todoHoverColorBg: green;
$todoHoverTxtColor: red;
$todayColor: rgb(201, 211, 62);
$unactiveColor: grey;
$appTitleColor: darkslateblue;
$mainBgColor: grey;
$addNoteHoverColorBg: green;
$todoListTittleColor: brown;
$importantColor: red;
$buttonMainTodoActiveBgColor: lightblue;
$buttonMainTodoActiveColor: brown;
$modalWindowColor: whitesmoke;
$closeColor: rgb(80, 2, 2);
$closeBtnColor: lightcoral;
$modalWindowShadow: 0 0 3px lightblue;
$todoListItemColor: lightblue;
$todoAllColor: green;
$SortButtonsColor: rgb(104, 4, 4);


$weatherBorder: 1px solid lightsteelblue;
$addNoteButtonBorder: 1px solid red;
$inputMainTodoBorder: 2px solid brown;
$todoListBorder: 2px solid black;
$todoListTittleBottomBorder: 4px solid powderblue;
$modalWindowBorder: 5px solid lightblue;
$closeBtnBorder: 2px solid rgb(80, 2, 2);
$deleteBtnBorder: 2px solid #8b4513;
$edditableBorder: 1px solid red;
$sortButtonsBorder: 2px solid black;